*.o
.idea/
cmake-build-debug/
bin/
points.dat

## latex
*.acn
*.aux
*.fdb_latexmk
*.fls
*.glo
*.ist
*.log
*.out
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.sta
*.pdf
*.bbl
*.blg
*.dvi
*.bcf
*.run.xml
!main.pdf